<style>
.custom-table {
  border-radius: 12px;
  overflow: hidden;
  background-color: $form-background;
  color: $text-color;

  th {
    background-color: $header-background-color;
    color: $text-color;
    border: none;
  }

  tbody tr:nth-child(odd) {
    background-color: darken($form-background, 2%);
  }

  tbody tr:nth-child(even) {
    background-color: darken($form-background, 5%);
  }

  td {
    border-top: 1px solid lighten($form-background, 10%);
  }

  tr:last-child td {
    border-bottom: none;
  }
}

/* Button styles */
.notify-btn {
  background-color: $primary-color;
  color: $button-contrast-color;
  border: none;
  border-radius: 6px;
  margin-right: 0.5rem;
  font-weight: 600;

  &:hover {
    background-color: $link-hover-color;
  }
}

.edit-btn {
  background-color: $accent-color;
  color: $button-contrast-color;
  border: none;
  border-radius: 6px;
  font-weight: 600;

  &:hover {
    background-color: lighten($accent-color, 7%);
  }
}
</style>

<header class="container text-center my-5">
	<h1>Admin Dashboard</h1>
</header>

<div class="post-content">
	<h3>Blog Posts</h3>
	<table class="table custom-table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>View</th>
				<th>Edit</th>
				<th>Notify</th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
				<tr>
					<td><%= post.title %></td>
					<td><%= link_to 'View', blog_post_path(post.id) %></td>
					<td>
						<%= link_to "Edit Post", edit_blog_post_path(post.id), class: "btn btn-sm btn-primary" %>
					</td>
					<td>
						<%= button_to "Notify Subscribers", blog_post_send_notification_email_path(post.id), method: :post, class: "btn btn-sm btn-primary" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>



	<h3>Fraud Simulators (Decision Tree)</h3>
	<table class="table custom-table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>View</th>
				<th>Edit</th>
				<th>Notify</th>
			</tr>
		</thead>
		<tbody>
			<% @decision_trees.each do |simulator| %>
				<tr>
					<td><%= simulator.title %></td>
					<td><%= link_to 'View', fraud_simulators_path(simulator.id) %></td>
					<td>
						<%= link_to "Edit Simulator", edit_fraud_simulator_path(simulator.id), class: "btn btn-sm btn-primary" %>
					</td>
					<td>
						<%= button_to "Notify Subscribers", fraud_simulators_send_notification_email_path(simulator.id), method: :post, class: "btn btn-sm btn-primary" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
