<style>
.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Show 4 lines, adjust as needed */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
<header class="container text-center my-5">
	<h1>Blog Posts</h1>

	<% if current_user && current_user.admin? %>
		<%= link_to 'New Blog Post', new_blog_post_path, class: 'btn btn-primary' %>
	<% end %>

    <center>
        <%= form_with(url: blog_posts_path, method: "get", local: true, id: 'search_form') do %>
            <div class="search-container">
                  <%= label_tag :search, "Search Posts", class: "search-label" %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "search-input", id: "search_input" %>
                  <%= submit_tag "Search", class: "search-button btn btn-primary " %>
                  <%= button_tag 'Clear', type: 'button', id: "clear_button", class: "btn btn-primary clear-button" %>
            </div>
        <% end %>
    </center>
</header>

<div class="container py-5">
  <div class="row g-4"> <!-- Bootstrap grid with spacing -->
    <% @blog_posts.each do |blog_post| %>
      <div class="col-md-4 d-flex">
        <div class="card p-4 w-100 d-flex flex-column">
          <h3 class="card-title fw-bold"><b><%= blog_post.title %></b></h3>
          <!--p class="card-description flex-grow-1"-->
          <p class="card-description">
            <!--%= truncate(blog_post.excerpt, length: 150, omission: '...') %-->
            <%= blog_post.excerpt %>
          </p>
          <%= link_to 'Read More', blog_post_path(blog_post.id), class: 'card-link mt-auto' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--div class="container py-5">
  <div class="row g-4"> 
    < @blog_posts.each do |blog_post| %>
      <div class="col-md-4">
        <div class="card p-4">
          <h3 class="card-title"><b><= blog_post.title %></b></h3>
          <p class="card-description">
            <= truncate(blog_post.excerpt, length: 150, omission: '...') %>
          </p>
          <= link_to 'Read More', blog_post_path(blog_post.id), class: 'card-link' %>
        </div>
      </div>
    < end %>
  </div>
</div-->
