<header class="container text-center my-5">
	<h1><%= format_file_title(@file_name) %></h1>
	<% @json_data = find_matching_file(@file_name) %>
	<p class="lead" style="font-size: 18px; opacity: 0.75;">
		<%= @json_data["excerpt"] %>
	</p>
</header>

<% if !@current_question.nil? %>
	<div class="decision-tree-container">
	  <h1 class="decision-tree-title">Fraud Simulator</h1>
	  <div class="question-card">
		<p class="question-text"><%= @current_question['question'] %></p>
		<%= form_with url: decision_tree_path, method: :post, local: true, data: { turbo: false } do %>
		  <% @current_question['options'].each do |option| %>
			<div class="option-card">
			  <label class="option-label">
				<%= radio_button_tag :selected_option, { next_id: option["next_id"], end_id: option["end_id"] }.to_json, class: "option-radio" %>
				<span class="option-text"><%= option['text'] %></span>
			  </label>
			</div>
		  <% end %>

		  <%= hidden_field_tag :file_name, File.basename(@file_name, ".json") %>
		  <%= hidden_field_tag :current_id, @current_question["id"] %>
		  <%= hidden_field_tag "choices_log[#{@current_question['question']}]", params[:selected_option] if params[:selected_option].present? %>
		  <%= submit_tag "Next", class: "submit-btn" %>
		<% end %>
	  </div>
	</div>
<% else %>
<div class="container">
  <div class="decision-tree-container">
	  <div class="choices-box">
		<h2>Your Fraud Simulator Choices</h2>

		<% if @ordered_hash.any? %>
			<div class="choices-container">
				<% @ordered_hash.each do |question, answers| %>
					<div class="choice-box">
						<h4 class="final-question-text"><%= question %></h4>
						<ul class="answer-list">
							<% answers.each do |answer| %>
								<li>
								<p><strong>Choice:</strong> <span class="choice-text"><%= answer[0]['text'] %></span></p>
								<p><strong>Explanation:</strong> <span class="explanation-text"><%= answer[0]['explanation'] %></span></p>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
		<% end %>
    </div>
  </div>
</div>
<% end %>


