<header class="container text-center my-5">
	<h1 class="page-title">Forgot your password?</h2>
</header>

<div class="card p-4" style="max-width: 500px; margin: 0 auto;">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="mb-3 d-flex align-items-center">
		<%= f.label :email, class: "me-3 mb-0", style: "color: #E6E6FA; min-width: 100px;" %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control flex-grow-1" %>
	  </div>

	  <div class="text-center mt-4">
		<%= f.submit "Send me reset password instructions", class: "btn btn-lg px-5", style: "background-color: #a3c293; color: #2A2D43;" %>
	  </div>
	<% end %>

	<div class="mt-3 text-center">
	  <%= render "devise/shared/links" %>
    </div>
</div>

