<script>
	document.addEventListener("domContentLoaded", function() {
	  const controller = document.body.getAttribute("data-controller");
      const action = document.body.getAttribute("data-action");

      if (controller === "posts" && action === "index") {
		  console.log("This is the Posts Index Page!");
		  document.getElementById("clear_button").addEventListener("click", function() {
			  // Clear the search input field
			  document.getElementById("search_input").value = "";
			  // Submit the form to clear the search results
			  document.getElementById("search_form").submit();
	      });
	  }
  });
</script>

<header class="container text-center my-5">
	<h1 class="page-title">Blog Posts</h1>

	<center>
		<%= form_with(url: posts_index_path, method: "get", local: true, id: 'search_form') do %>
			<div class="search-container">
				  <%= label_tag :search, "Search Posts", class: "search-label" %>
				  <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "search-input", id: "search_input" %>
				  <%= submit_tag "Search", class: "search-button btn btn-primary " %>
					
				  <%= button_tag 'Clear', type: 'button', id: "clear_button", class: "btn btn-primary clear-button" %>
			</div>
		<% end %>
	</center>
</header>

<div class="container py-5">
  <div class="row g-4"> <!-- Bootstrap grid with spacing -->
    <% @files.each do |file| %>
      <div class="col-md-4">
        <div class="card p-4">
          <h3 class="card-title"><b><%= file[:title] %></b></h3>
          <p class="card-description">
            <%= truncate(file[:content], length: 150, omission: '...') %>
          </p>
          <%= link_to 'Read More', post_path(file[:file_name]), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>



