<!-- app/views/posts/new_upload.html.erb -->

<h1>Upload JSON Blog Post</h1>

<%= form_with url: posts_upload_path, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :json_file, 'Upload JSON file:' %><br>
    <%= form.file_field :json_file, accept: 'application/json' %>
  </div>

  <div>
    <%= form.submit 'Upload' %>
  </div>
<% end %>

<% if flash[:notice] %>
  <p style="color: green;"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>
