<style>
  .post-content {
    background: #2E2E2E; /* Dark gray background */
    color: #D3D3D3; /* Light gray text */
    padding: 1.5rem;
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 1.8;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    width: 100%; /* Make it take up more space */
    max-width: 1300px; /* Allow it to be wider on larger screens */
    margin: 20px auto; /* Center it with space above and below */
  }

  .post-image {
    width: 50%; /* Make the image responsive and take up the full width of its container */
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
    height: auto; /* Maintain the image's aspect ratio */
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  }

  .back-link {
    display: inline-block;
    text-decoration: none;
    background-color: #1a73e8; /* Matching primary button color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
	margin-bottom: 20px;
	padding: 10px 20px;
  }

  .back-link:hover {
    background-color: #155ab0; /* Slightly darker on hover */
	text-decoration: none;
  }

  .back-link:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(26, 115, 232, 0.5); /* Subtle focus outline */
}

.ordinal-suffix {
  font-size: 0.6em; /* Smaller font size */
  position: relative;
  top: -0.05em; /* Move it slightly up, but less than before */
  vertical-align: top; /* Align it towards the top */
}
</style>


<header class="container text-center my-5">
	<h1 class="post-title">
		<%= @post["title"] %>
	</h1>
	<p class="lead">
		<% parsed_date = Date.parse(@post["date_published"]) %>
	    <% formatted_date = parsed_date.strftime("%B #{parsed_date.day}#{ordinal_suffix(parsed_date.day)}, %Y") %>
		<%= formatted_date.html_safe %>
    </p>
	<p class="lead" style="font-size: 12px; opacity: 0.75;">
		<%= @post["excerpt"] %>
    </p>
</header>

<div class="post-content">
	<% content = @post["content"] %>
	<% images = @post["images"] %>
	<% image_index = 0 %>

  <% content.split("<br>").each_with_index do |segment, index| %>
    <%# If the segment is "img-tag", insert an image %>
    <% if segment.strip == "img-tag" && image_index < images.length %>
      <img src="<%= asset_path(@post["file_name"] + "/" + images[image_index]) %>" alt="Fraud Image" class="post-image">
      <% image_index += 1 %>
    <% else %>
      <p><%= segment.strip %></p> <%# Otherwise, treat as text %>
    <% end %>
  <% end %>
</div>

<center>
	<%= link_to 'Back to All Posts', posts_index_path, class: "back-link btn btn-primary" %>
</center>
