<header class="container text-center my-5">
	<h1 class="post-title">
		<%= @post["title"] %>
	</h1>
	<p class="lead">
		<% parsed_date = Date.parse(@post["date_published"]) %>
	    <% formatted_date = parsed_date.strftime("%B #{parsed_date.day}#{ordinal_suffix(parsed_date.day)}, %Y") %>
		<%= formatted_date.html_safe %>
    </p>
	<p class="lead" style="font-size: 14px; opacity: 0.75;">
		<%= @post["excerpt"] %>
    </p>
</header>

<div class="post-content">
	<% content = @post["content"] %>
	<% images = @post["images"] %>
	<% sources = @post["sources"] %>
	<% image_index = 0 %>

  <% content.split("<br>").each_with_index do |segment, index| %>
    <%# If the segment is "img-tag", insert an image %>
    <% if segment.strip == "img-tag" && image_index < images.length %>
      <img src="<%= asset_path(@post["file_name"] + "/" + images[image_index]) %>" alt="Fraud Image" class="post-image">
      <% image_index += 1 %>
    <% else %>
      <p style="text-indent: 20px;">
		<%= segment.strip %>
	  </p> <%# Otherwise, treat as text %>
    <% end %>
  <% end %>

<% if sources.present? %>
  <div class="blog-sources">
    <h3>Sources</h3>
    <ul>
      <% sources.each do |source| %>
        <li>
          <a href="<%= source %>" target="_blank" rel="noopener noreferrer"><%= source %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

</div>

<center>
	<%= link_to 'Back to All Posts', posts_index_path, class: "back-link btn btn-primary" %>
</center>
