
<h1>Fraud Simulators</h1>

<%= link_to 'New Fraud Simulator', new_fraud_simulator_path, class: "btn btn-success mb-3" %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Excerpt</th>
      <th>Visible?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @fraud_simulators.each do |sim| %>
      <tr>
        <td><%= sim.id %></td>
        <td><%= sim.title %></td>
        <td><%= sim.excerpt %></td>
        <td><%= sim.is_visible ? "✅" : "❌" %></td>
        <td>
          <%= link_to 'Show', sim %> |
          <%= link_to 'Edit', edit_fraud_simulator_path(sim) %> |
          <%= link_to 'Delete', sim, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
